---
---

@import "bootstrap.min.css";

.news-entry {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.latest-badge {
    position: absolute;
    left:-15px;
    top:10px;
    text-align: center;
    color:white;
    font-size:11px;
}
.update-info {
    text-align: center;
}
